html, body, #root {
    font: 0.9rem sans-serif;
    background: #024064;
    color: #FFFFFF;
    height: 100%;
    margin: 0;
}

.main-container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
